$primary-yellow: #FCA61F;
$primary-purple: #8976FD;

$secondary-sky: #6DCBFF;
$secondary-purple: #C06EF3;
$secondary-blue: #7188FF;
$secondary-yellow: #FDBA09;
$secondary-teal: #6DEDC3;

$primary-text-grey: #332C5C; 
$primary-text-purple: #494369; 
$primary-text-light-grey: #5E587A;
$primary-text-white: #FFFFFF; 

$state-color-info: #2F80ED;
$state-color-success: #27AE60;
$state-color-warning: #E2B93B;
$state-color-error: #EB5757;

$background: #FFFFFF;