.counter {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(20px);

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            display: flex;
            align-items: center;
            gap: 36px;

            .icon-box {
                width: 128px;
                height: 128px;
                border-radius: 40px;
                box-shadow: 14px 20px 48px 0px rgba(25, 15, 44, 0.02);
                background: rgba(192, 110, 243, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;

                &.icon-box-yellow {
                    background: rgba(253, 186, 9, 0.2);
                }

                &.icon-box-green {
                    background: rgba(109, 237, 195, 0.2);
                }
            }

            .content {
                display: flex;
                flex-direction: column;

                span {
                    color: rgba(94, 88, 122, 1);
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;

                    &.counter-number {
                        font-size: 48px;
                        font-weight: 600;
                        line-height: 72px;
                        text-transform: capitalize;
                        color: #332C5C;
                        font-family: "Poppins", sans-serif;
                    }
                }
            }
        }
    }
}