@use '../colors' as *;

header {
    backdrop-filter: blur(40px);
    background: linear-gradient(to bottom right, rgba(137, 118, 253, 0.2), rgba(255, 255, 255, 0.9));
    height: 100vh;
    position: relative;
    .navbar {
        padding-top: 40px;
    }
}

.line-img {
    position: absolute;
    top: 0;
    left: 0;
}

.hero {
    position: relative;

    .hero-content {
        max-width: 910px;
        float: right;
        position: relative;
        display: flex;
        .hero-text {
            h1 {
                margin-bottom: 20px;

                span {
                    color: $primary-purple;
                }
            }

            p {
                margin-bottom: 40px;
                max-width: 465px;
            }
        }
        .hero-left {
            img {
                position: relative;
                top: -90px;
            }
        }
    }
}