@use '../colors' as *;

header {
    background-image: url('/img/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    .navbar {
        padding-top: 40px;
    }
}

.line-img {
    position: absolute;
    top: 0;
    left: 0;
}

.hero {
    position: relative;

    .hero-content {
        max-width: 910px;
        float: right;
        position: relative;
        display: flex;
        .hero-text {
            h1 {
                margin-bottom: 20px;

                span {
                    color: $primary-purple;
                }
            }

            p {
                margin-bottom: 40px;
                max-width: 465px;
            }
        }
        .hero-left {
            img {
                position: relative;
                top: -90px;
            }
        }
    }
}